*{
    padding: 0;
    margin:0;
}
.principal{
    background-color: #00DBDE;  
    background-image: linear-gradient(90deg, #004f50 0%, #6702689e 100%);
    height: 100vh;
    display: flex;
    /* display: block; */
    align-content: space-around;
    justify-content: space-around;
    align-items: center;
}

.m-50{
    margin-bottom: 50px;
}
.contenu{
    width: 320px;
}
.width-100{
    width: 100%;
}
.align_center{
    text-align: center;
}
.button-submit{
    margin-top: 10px;
}
.input-style{
    color: #fff;
    background-color: #fffcfc2f;
    margin-bottom: 10px;
    outline: none;
    border: none;
    padding: 4px;
    padding-left: 10px;
}
.button-style{
    color: #fff;
    padding: 5px 20px;
    cursor: pointer;
    border: none;
    border-radius: 10px;
    margin-bottom:20px;
    background-color: #fffcfc42;
}
::placeholder {
    color: rgb(255, 255, 255);
}
.button-style:hover{
    color: #00DBDE;
    background-color: rgba(255, 255, 255, 0.797);
}

/* .button-cadastrar{
    
} */
